* {
    font-family: 'Raleway', sans-serif;
}

@-moz-document url-prefix() {
    .label {
        visibility: hidden;
    }
}


/* Barre de navigation */

.navbar {
  background: #ccebff!important;
  font-size: 16px;
  font-weight: bold;
}

#logoNavBar {
  width: 28px;
}

#logoNavBar2 {
  width: 26px;
}

#logoNavBar3 {
  width: 27px;
}


/* Banniere accueil */

.aboutMe {
  margin-top: 6%;
}

#accueilImg {
  padding: 0;
}

#accueilBloc {
  padding: 0;
}

#accueilNom {
  color: black;
  font-size: 35px;
  font-weight: bold;
  margin-top: 5%;
  margin-bottom: 5%;
}

#accueilJob {
  color: #7D9DB2;
  font-size: 25px;
  font-family: 'Delius Unicase', cursive;
}

.accueilText {
  font-size: 16px;
  margin: 5% 5% 5% 0%;
}

.titreAccueil {
  color: #7D9DB2;
  font-size: 20px;
  font-family: 'Delius Unicase', cursive;
  margin: 0% 5% -1% 0%;
}


/* Compétences et expériences */

#ancre1 {
  margin-bottom: 6%;
}

#titreCompetences {
  color: #FF970D;
  font-family: 'Delius Unicase', cursive;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 3%;
  text-decoration: underline;
}

.competences {
  color: #7D9DB2;
  font-weight: bold;
  text-align: center;
}

.blocSkills {
  margin-bottom: 1.5%!important;
}

.icon {
  margin: 1%;
}


/*Porte-folio*/

#titrePorteFolio {
  color: #FF970D;
  font-family: 'Delius Unicase', cursive;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 5%;
  margin-top: 8%;
  text-decoration: underline;
}

.container {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  margin: 0 auto;
  position: relative;
  width: 960px;
}

#filters {
  margin: 2%;
  padding: 0;
  list-style: none;
}

#filters li {
  float: left;
}

#filters li span {
  color: #666;
  cursor: pointer;
  display: block;
  padding: 5px 20px;
  text-decoration: none;
}

#filters li span.active {
  background: #7D9DB2;
  color: #fff;
}

#portfoliolist .portfolio {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  display: none;
  float: left;
  margin: 1%;
  overflow: hidden;
  width: 23%;
}

.portfolio-wrapper {
  background: #666;
  border: 1px solid #000;
  cursor: pointer;
  overflow: hidden;
  position: relative !important;
}

.portfolio img {
  max-width: 100%;
  position: relative;
}

.portfolio .label {
  bottom: -40px;
  height: 40px;
  position: absolute;
  width: 100%;
}

.portfolio .label-bg {
  background: #DBDBDB;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.portfolio .label-text {
  font-size: 20px;
  padding: 5px 8px 0 0;
  position: relative;
  z-index: 500;
}


/*Me contacter*/

#titreContact {
  color: #FF970D;
  font-family: 'Delius Unicase', cursive;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 3%;
  margin-top: 18%;
  text-decoration: underline;
}

.blocContact {
  background-color: #7D9DB2!important;
  margin: 1% 0 0 0;
}

.well {
  background-color: #7D9DB2!important;
  border: none!important;
  margin: 5% 0 10% 0;
  font-size: 14px;
}

.nomChamps {
  color: white;
  font-family: 'Delius Unicase', cursive;
}


/*Footer*/

footer {
  background-color: #ccebff!important;
}

#ML {
  font-size: 16px;
  font-weight: bold;
  margin: 2% 0;
}

#ML p {
  text-align: left;
}

.text-muted {
  margin-top: 1%;
}

/* Medias */

@media screen and (max-width: 992px) {
    .catSkills:focus {
        background-color: #7D9DB2!important;
        border: none!important;
        color: white!important;
        font-size: 28px;
        font-family: 'Delius Unicase', cursive;
        font-weight: 700;
        padding: 3.5% 0 3.5% 0!important;
    }
    .demSkills {
        background-color: white;
        height: 276px;
        margin: 0!important;
        padding: 0!important;
    }
    p {
        font-size: 16px!important;
    }
}
