* {
    font-family: 'Raleway', sans-serif;
}

@-moz-document url-prefix() {
    .label {
        visibility: hidden;
    }
}

body {
  background-color: #fffecc!important;
}


/* Barre de navigation */

.navbar {
  background: #ccebff!important;
  font-size: 18px;
  font-weight: bold;
}

.anchor {
  border: 1px solid white;
}

.anchor:hover {
  border: 1px solid white;
  color: white!important;
  font-size: 18px;
}

.anchor:active {
  border: 1px solid white;
  color: white!important;
  font-size: 18px;
}

#logoNavBar {
  width: 28px;
}

#logoNavBar2 {
  width: 26px;
}

#logoNavBar3 {
  width: 27px;
}

#logoNavBar:hover {
  width: 30px;
}

#logoNavBar2:hover {
  width: 28px;
}

#logoNavBar3:hover {
  width: 29px;
}


/* Banniere accueil */

.aboutMe {
  margin-bottom: 4%;
  margin-top: 8%;
}

.anchor2:hover {
  font-weight: bold;
  text-decoration: none;
}
#accueilImg {
  padding: 0;
}

#accueilBloc {
  padding: 0;
}

#accueilNom {
  color: black;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 5%;
  margin-top: 2.5%;
}

#accueilJob {
  color: #7D9DB2;
  font-family: 'Sahitya', serif;
  font-size: 35px;
}

.accueilText {
  font-size: 17px;
  margin: 3% 5% 5% 0%;
}

.titreAccueil {
  color: #7D9DB2;
  font-family: 'Sahitya', serif;
  font-size: 30px;
  margin: 0% 5% -1% 0%;
}


/* Compétences et expériences */

#skills {
  background-color: #ffff99;
  padding-bottom: 2%;
  padding-top: 2%;
}

#ancre1 {
  margin-bottom: 3%;
  text-align: center;
}

.skillList {
  font-size: 25px;
  list-style-type: none;
  margin-top: 10%;
  text-align: left;
}

.skillList>li {
  font-family: 'Sahitya', serif;
  margin-top: 1%;
}

#titreCompetences {
  color: #FF970D;
  font-family: 'Sahitya', serif;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 8%;

}

.competences {
  color: #7D9DB2;
  font-size: 30px;
  text-align: left;
}

.blocSkills {
  margin-bottom: 2%!important;
}

.material-icons {
  color: #FF970D;
  font-size: 50px!important;
  margin-left: 2%;
}

.devis {
  font-size: 30px!important;
  font-weight: bold;
}

.buttonBloc {
  margin: 8% 0 6% 0;
}
/*Porte-folio*/

#ancre2 {
  padding-top: 5%;
}

.portfolioBloc {
  display: block;
  margin-bottom: 5%!important;
  min-height: 85vh;
}

#titrePorteFolio {
  color: #FF970D;
  font-family: 'Sahitya', serif;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 5%;
  margin-top: 0;
}

.container {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  margin: 0 auto;
  position: relative;
  width: 960px;
}

#filters {
  list-style: none;
  margin: 2%;
  padding: 0;
}

#filters li {
  float: left;
}

#filters li span {
  color: #666;
  cursor: pointer;
  display: block;
  padding: 5px 20px;
  text-decoration: none;
}

#filters li span.active {
  background: #7D9DB2;
  color: #fff;
}

#portfoliolist .portfolio {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  display: none;
  float: left;
  margin: 1%;
  overflow: hidden;
  width: 23%;
}

.portfolio-wrapper {
  background: #666;
  border: 1px solid #000;
  cursor: pointer;
  overflow: hidden;
  position: relative !important;
}

.portfolio img {
  max-width: 100%;
  position: relative;
}

.portfolio .label {
  bottom: -40px;
  height: 40px;
  position: absolute;
  width: 100%;
}

.portfolio .label-bg {
  background: #DBDBDB;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.portfolio .label-text {
  font-size: 20px;
  padding: 5px 8px 0 0;
  position: relative;
  z-index: 500;
}


/*Me contacter*/

#contact {
  background-color: #ffff99;
}

#titreContact {
  color: #FF970D;
  font-family: 'Sahitya', serif;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 4%;
  margin-top: 8%;
}

.blocContact {
  background-color: #7D9DB2!important;
  margin: 1% 0 0 0;
}

.well {
  background-color: #7D9DB2!important;
  border: none!important;
  font-size: 15px;
  margin: 0 -10% 5% -10%!important;
  padding: 30px!important;
}

.nomChamps {
  color: white;
  font-family: 'Sahitya', serif;
  font-size: 20px;
}


/*Footer*/

footer {
  background-color: #ccebff!important;
}

#ML {
  font-size: 16px;
  font-weight: bold;
  margin: 1.5% 0;
}

#ML p {
  text-align: left;
}

.text-muted {
  color: white;
  font-weight: bold;
  margin-top: 1%;
}

/* Medias */

@media screen and (max-width: 992px) {
    .catSkills:focus {
        background-color: #7D9DB2!important;
        border: none!important;
        color: white!important;
        font-size: 28px;
        font-family: 'Sahitya', serif;
        font-weight: 700;
        padding: 3.5% 0 3.5% 0!important;
    }
    .demSkills {
        background-color: white;
        height: 276px;
        margin: 0!important;
        padding: 0!important;
    }
    p {
        font-size: 16px!important;
    }
}
